@model GuardaCultura.Models.Fotografia

@{
	ViewData["Title"] = "Details";
}
<section class="wrapper style3 container special">
	<header class="major">
		<h1>Detalhes Fotografia</h1>
	</header>
	<body>
		<div>
			<dl class="row">
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Nome)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Nome)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Data_imagem)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Data_imagem)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Classificacao)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Classificacao)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Foto)
				</dt>
				<dd class="col-sm-10">
					@*<input type="image" src="data:image/gif;base64,(@Model.Foto)" style="width:500px;height:300px" />*@
					 @*@Html.DisplayFor(model => model.Foto)*@
					@{
						var base64 = Convert.ToBase64String(Model.Foto);
						var imgsrc = string.Format("data:image/gif; base64,{0}", base64);
					}
					<img src='@imgsrc' />
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.EstacaoAno)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.EstacaoAno.Nome_estacao)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Pessoa)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Pessoa.Email)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Miradouro)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Miradouro.Coordenadas_gps)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.TipoImagem)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.TipoImagem.Descricao)
				</dd>
			</dl>
		</div>
		<footer class="major">
			<div>
				<a asp-action="Edit" asp-route-id="@Model.FotografiaId" class="button btn-primary">Edit</a>
				<a asp-action="Delete" asp-route-id="@Model.FotografiaId" class="button btn-primary">Delete</a>
				<a asp-action="Index" class="button btn-primary">Back to List</a>
			</div>
		</footer>
	</body>
</section>