@model GuardaCultura.Models.Fotografia

@{
	ViewData["Title"] = "Details";
}
<section class="wrapper style3 container special">
	<header class="major">
		<h1>Detalhes Fotografia</h1>
	</header>
	<body>
		<div>
			<table class="table" id="tabelaconfig">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Nome)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Data_imagem)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.EstacaoAno)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TipoImagem)
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							@Html.DisplayFor(model => model.Nome)
						</td>
						<td>
							@if (Model.Data_imagem != null)
							{
								@Html.DisplayFor(model => model.Data_imagem)
							}
							else
							{
								@Html.Encode("Sem Data definida")
							}
						</td>
						<td>
							@Html.DisplayFor(model => model.EstacaoAno.Nome_estacao)
						</td>
						<td>
							@Html.DisplayFor(model => model.TipoImagem.Descricao)
						</td>
					</tr>
				</tbody>
			</table>
			<br />

			<table class="table" id="tabelaconfig">
				<thead>
					<tr>
						<th>
							Introduzida por:
						</th>
						<th>
							@if (Model.Miradouro.E_Miradouro)
							{
								@Html.DisplayNameFor(model => model.Miradouro)
							}
							else
							{
								<span>Paisagem</span>
							}
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Classificacao)
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							@Html.DisplayFor(model => model.Pessoa.Nome)
						</td>
						<td>
							<a asp-controller="Miradouroes" asp-action="Details" asp-route-id="@Model.MiradouroId">@Html.DisplayFor(model => model.Miradouro.Nome)</a>
						</td>
						<td>
							@Html.DisplayFor(model => model.Classificacao)
						</td>
					</tr>
				</tbody>
			</table>

			<div>
				<p><b>Fotografia</b></p>

				@{
					var base64 = Convert.ToBase64String(Model.Foto);
					var imgsrc = string.Format("data:image/gif; base64,{0}", base64);
				}
				<img src='@imgsrc' width="80%" />
			</div>
			<footer class="major">
				<div>
					@if (!Model.Aprovada)
					{
						<a class="button btn-primary" onclick="document.getElementById('id02').style.display='block'">Aprovar</a>
					}
					<a asp-action="Edit" asp-route-id="@Model.FotografiaId" class="button btn-primary">Editar</a>
					<a class="button btn-primary" onclick="document.getElementById('id01').style.display='block'">Apagar</a>
					<a asp-action="Index" asp-route-page=0 asp-route-ordenar="0" asp-route-direcaoordena="0" asp-route-aprovacao="0" class="button btn-primary">Lista</a>
				</div>
			</footer>
			<div id="id01" class="modal">
				<form class="modal-content">
					<div class="container">
						<h1>
							Tem a certeza que pretende <b style="color:red">Apagar</b> esta Fotografia
						</h1>
						<br />
						<div style="margin:20px">
							<a class="button" asp-action="Apagar" asp-route-id="@Model.FotografiaId" asp-route-page="1">Sim</a>
							<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Não</button>
						</div>
					</div>
				</form>
			</div>

			<div id="id02" class="modal">
				<form class="modal-content">
					<div class="container">
						<h1>
							Tem a certeza que pretende <b style="color:red">Aprovar</b> esta Fotografia
						</h1>
						<br />
						<div style="margin:20px">
							<a class="button" asp-action="AprovarDetalhes" asp-route-id="@Model.FotografiaId">Sim</a>
							<button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Não</button>
						</div>
					</div>
				</form>
			</div>
</body>
</section>