@model IEnumerable<GuardaCultura.Models.Atratividade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstacaoAno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miradouro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao.DuracaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstacaoAno.Nome_estacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miradouro.Nome)
            </td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.AtratividadeId">Edit</a> | @*Botao Editar*@
				<a asp-action="Details" asp-route-id="@item.AtratividadeId">Details</a> | @*Botao Detalhes*@
				<a asp-action="Delete" asp-route-id="@item.AtratividadeId">Delete</a>@*Botao Apagar*@
			</td>
        </tr>
}
    </tbody>
</table>
