@model GuardaCultura.Models.Miradouro

@{
    ViewData["Title"] = "Create";
}

<section class="wrapper style3 container special">
    <header>
        <h1>Criar Miradouro / Paisagem</h1>
        <hr />
    </header>
    <body>
        <div class="row centrado">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div class="fields">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>@*sumario de erros*@
                        <div class="form-group field half">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="textoErro"></span>@*validacao de campo*@
                        </div>
                        <div class="form-group field half">
                            <label asp-for="Localizacao" class="control-label"></label>
                            <input asp-for="Localizacao" class="form-control" />
                            <span asp-validation-for="Localizacao" class="textoErro"></span>@*validacao de campo*@
                        </div>
                        <div class="form-group field ">
                            Coordenadas <br />
                            <input type="radio" id="CoordDD" name="Coordenadas" value="DD" onclick="CoordenadasFunction(this)" checked />DD
                            <input type="radio" id="CoordDMS" name="Coordenadas" value="DMS" onclick="CoordenadasFunction(this)" />DMS <br />
                            <div>
                                @*  *@
                                <!--Latitude:--> @*<input asp-for="Latitude_DD" class="coordenadas" />*@
                                <!--Longitude:--> @*<input asp-for="Longitude_DD" class="coordenadas" />*@
                                <table class="table" id="coorddd">
                                    <thead>
                                        <tr id="">
                                            <th>
                                                latitude
                                            </th>
                                            <th>
                                                longitude
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="">
                                            <td id="dd">
                                                <input asp-for="Latitude_DD" class="coordenadas" />
                                                @*<span asp-validation-for="Latitude_DD" class="textoErro"></span>*@
                                            </td>
                                            <td id="dd">
                                                <input asp-for="Longitude_DD" class="coordenadas" />
                                                @*<span asp-validation-for="Longitude_DD" class="textoErro"></span>*@
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table showcoord" id="coorddms">
                                    <thead>
                                        <tr id="">
                                            <th colspan="4">
                                                latitude
                                            </th>
                                            <th colspan="4">
                                                longitude
                                            </th>
                                        </tr>
                                        <tr id="">
                                            <th>
                                                &deg;
                                            </th>
                                            <th>
                                                '
                                            </th>
                                            <th>
                                                ''
                                            </th>
                                            <th>
                                                N/S
                                            </th>
                                            <th>
                                                &deg;
                                            </th>
                                            <th>
                                                '
                                            </th>
                                            <th>
                                                ''
                                            </th>
                                            <th>
                                                W/E
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="">
                                            @*Latitude*@
                                            @*graus*@
                                            <td id="dms">
                                                <input name="grausLat" class="coordenadas" />
                                                @*<span asp-validation-for="@ListaMiradouro.grausLat" class="textoErro"></span>*@
                                            </td>
                                            @*minutos*@
                                            <td id="dms">
                                                <input name="minutoLat" class="coordenadas" />
                                                @*<span asp-validation-for="@ListaMiradouro.minutoLat" class="textoErro"></span>*@
                                            </td>
                                            @*segundos*@
                                            <td id="dms">
                                                <input name="segundosLat" class="coordenadas" />
                                                @*<span asp-validation-for="@ListaMiradouro.segundosLat" class="textoErro"></span>*@
                                            </td>
                                            @*N/S*@
                                            <td id="dms">
                                                <select name="DirNS" class="coordenadas" style="min-width: 90px">
                                                    <option value="N" selected>N</option>
                                                    <option value="S">S</option>
                                                    @*<span asp-validation-for="@ListaMiradouro.DirNS" class="textoErro"></span>*@
                                                </select>
                                            </td>
                                            @*Longitude*@
                                            @*graus*@
                                            <td id="dms">
                                                <input name="grausLong" class="coordenadas" />
                                                @*<span asp-validation-for="@ListaMiradouro.grausLong" class="textoErro"></span>*@
                                            </td>
                                            @*minutos*@
                                            <td id="dms">
                                                <input name="minutosLong" class="coordenadas" />
                                                @*<span asp-validation-for="@ListaMiradouro.minutosLong" class="textoErro"></span>*@
                                            </td>
                                            @*segundos*@
                                            <td id="dms">
                                                <input name="segundosLong" class="coordenadas" />
                                                @*<span asp-validation-for="@ListaMiradouro.segundosLong" class="textoErro"></span>*@
                                            </td>
                                            <td id="dms">
                                                <select name="DirWE" class="coordenadas" style="min-width: 90px">
                                                    <option value="E">E</option>
                                                    <option value="W" selected>W</option>
                                                    @*<span asp-validation-for="@ListaMiradouro.DirWE " class="textoErro"></span>*@
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                @*<input asp-for="Terreno" class="form-control" />*@
                                @*<input asp-for="Terreno" class="form-control" />*@
                            </div>
                        </div>
                        <div class="form-group field half" id="corddd">
                            <label asp-for="Terreno" class="control-label"></label>
                            <input asp-for="Terreno" class="form-control" />
                            <span asp-validation-for="Terreno" class="textoErro"></span>@*validacao de campo*@
                        </div>
                        <div class="form-group form-check field half campoBox">
                            @*<label>E_Miradouro</label>
                                <select asp-for="E_Miradouro" class="form-control">
                                    <option value="true">Sim</option>
                                    <option value="false">Não</option>
                                </select>*@
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="E_Miradouro" id="checkMiradouro" onclick="checkMiradouroFunction()" checked /> @Html.DisplayNameFor(model => model.E_Miradouro)
                                É miradouro
                            </label>
                        </div>
                        <div class="form-group field ">
                            <label asp-for="Condicoes" class="control-label">Condições</label>
                            <textarea asp-for="Condicoes" class="form-control"></textarea>
                            <span asp-validation-for="Condicoes" class="textoErro"></span>@*validacao de campo*@
                        </div>
                        <div class="form-group field ">
                            <label asp-for="Descricao" class="control-label">Descrição</label>
                            <textarea asp-for="Descricao" class="form-control"></textarea>
                            <span asp-validation-for="Descricao" class="textoErro"></span>@*validacao de campo*@
                        </div>
                        <input type="checkbox" class="form-check-input" style="display:none" id="checkOcupacao" />
                        <div class="form-group field half" id="divCheckBox">
                            <label asp-for="Ocupacao_maxima" class="control-label"> Ocupação maxima</label>
                            <input asp-for="Ocupacao_maxima" class="form-control" value="0" min="0" max="10" />
                            <span asp-validation-for="Ocupacao_maxima" class="textoErro"></span>@*validacao de campo*@
                        </div>
                    </div>
                    <footer class="major">
                        <div>
                            <input type="submit" value="Criar" class="btn btn-primary" />
                            <a asp-action="Index" class="button btn-primary">Voltar</a>
                        </div>
                    </footer>
                </form>
            </div>
        </div>
    </body>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
