@model GuardaCultura.Models.Miradouro

@{
    ViewData["Title"] = "Delete";
}

<section class="wrapper style3 container special">

    <header class="major">
        @if (Model.E_Miradouro)
        {
            <h1>Miradouro</h1>
            @if (!Model.Ativo)
            {
                <h3 class="textoErro">Tem a certeza que pretende Ativar este miradouro?</h3>
            }
            else
            {
                <h3 class="textoErro">Tem a certeza que pretende Desativar este miradouro?</h3>
            }
        }
        else
        {
            <h1>Paisagem</h1>
            @if (!Model.Ativo)
            {
                <h3 class="textoErro">Tem a certeza que pretende Ativar esta paisagem?</h3>
            }
            else
            {
                <h3 class="textoErro">Tem a certeza que pretende Desativar esta paisagem?</h3>
            }
        }
        @*<h1>Apagar Miradouro</h1>*@
        @*<h3 class="textoErro">Tem a certeza que pretende apagar este miradouro?</h3>*@

    </header>
    <body>
        <table class="table">
            <thead id="tabelaconfig">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        Localização
                        @*
                        @Html.DisplayNameFor(model => model.Localizacao)
                        *@
                    </th>
                    <th>
                        Coordenadas GPS
                        @*
                        @Html.DisplayNameFor(model => model.Coordenadas_gps)
                    *@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Terreno)
                    </th>
                    <th>
                        É miradouro
                    @*
                        @Html.DisplayNameFor(model => model.E_Miradouro)
                    *@
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Condicoes)
                    </th>*@
                <th>
                    Ocupação maxima
                    @*
                    @Html.DisplayNameFor(model => model.Ocupacao_maxima)
                    *@
                </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>*@
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Localizacao)
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => model.Coordenadas_gps)*@
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Terreno)
                    </td>
                    <td>
                        @* @Html.DisplayFor(modelItem => item.E_Miradouro)*@
                        @if (Model.E_Miradouro)
                        {
                            @Html.Encode("Miradouro")
                        }
                        else
                        {
                            @Html.Encode("Paisagem")
                        }
                    </td>
                    @*<td>
                        @Html.DisplayFor(model => model.Condicoes)
                    </td>*@
                    <td>
                        @Html.DisplayFor(model => model.Ocupacao_maxima)
                    </td>
                    @*<td>
                        @Html.DisplayFor(model => model.Descricao)
                    </td>*@
                </tr>
            </tbody>
        </table>
        <form asp-action="Delete">
            <footer class="major">
                <div class="form-group">
                    <input type="hidden" asp-for="MiradouroId" />
                    @*<input type="submit" value="Apagar" class="btn btn-danger" />*@
                    @if (!Model.Ativo)
                    {
                        <input type="submit" value="Ativar" class="btn btn-danger" />
                    }
                    else
                    {
                        <input type="submit" value="Desativar" class="btn btn-danger" />
                    }
                    <a asp-action="Index" class="button btn-primary">Voltar</a>
                </div>
            </footer>
        </form>
    </body>
</section>

@*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coordenadas_gps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coordenadas_gps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Miradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.E_Miradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condicoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condicoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocupacao_maxima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocupacao_maxima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MiradouroId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>*@
