@model GuardaCultura.Models.Miradouro

@{
    ViewData["Title"] = "Details";
}


<section class="wrapper style3 container special">
    <header>
    <h1>Details Miradouro</h1>
    </header>
    <body>
        <div>
            <table class="table">
                <thead id="tabelaconfig">
                    <tr>
                        <th class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Localizacao)
                        </th>
                        <th class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Coordenadas_gps)
                        </th>
                        <th class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Terreno)
                        </th>
                        <th class="col-sm-2">
                            @Html.DisplayNameFor(model => model.E_Miradouro)
                        </th>
                        <th class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ocupacao_maxima)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Localizacao)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Coordenadas_gps)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Terreno)
                        </td>
                        <td>
                            @if (Model.E_Miradouro)
                            {
                                @Html.Encode("Miradouro")
                            }
                            else
                            {
                                @Html.Encode("Paisagem")
                            }
                            @*@Html.DisplayFor(model => model.E_Miradouro)*@
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Ocupacao_maxima)
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead id="tabelaconfig">
                    <tr>
                        <th class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Condicoes)
                        </th>
                        <th class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Descricao)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Condicoes)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Descricao)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form asp-action="Details">
            <footer class="major">
                <div class="form-group">
                    <a asp-action="Delete" asp-route-id="@Model.MiradouroId"  class="button btn-primary">Delete</a>
                    <a asp-action="Edit" asp-route-id="@Model.MiradouroId"  class="button btn-primary">Edit</a>
                    <a asp-action="Index" class="button btn-primary">Back to List</a>
                </div>
            </footer>
        </form>
    </body>
</section>