@model IEnumerable<GuardaCultura.Models.Miradouro>

@{
    ViewData["Title"] = "Index";
}
<section class="wrapper style3 container special">
    <header class="major">
        <h1>Lista de Miradouros</h1>

        <p class="alinhaBotaoEsquerda">
            <a asp-action="Create" class="button btn-primary" >Novo</a>
        </p>
    </header>
    <body>
        <table class="table" id="tabelaconfig">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @*Localização
                        @Html.DisplayNameFor(model => model.Localizacao)*@
                    </th>
                    <th>
                        Coordenadas GPS
                        @*@Html.DisplayNameFor(model => model.Coordenadas_gps)*@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Terreno)
                    </th>
                    <th>
                        É miradouro
                        @*@Html.DisplayNameFor(model => model.E_Miradouro)*@
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Condicoes)
                    </th>*@
                    <th>
                        Ocupação maxima
                        @*@Html.DisplayNameFor(model => model.Ocupacao_maxima)*@
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>*@
                    <th>Opções</th>
                    <th>Ativar/Desativar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Localizacao)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Coordenadas_gps)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Terreno)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.E_Miradouro)*@
                            @if (item.E_Miradouro)
                            {
                                @Html.Encode("Miradouro")
                            }
                            else
                            {
                                @Html.Encode("Paisagem")
                            }
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Condicoes)
                        </td>*@
                        <td>
                            @if (item.Ocupacao_maxima == -1)
                            {
                                @Html.Encode("-")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Ocupacao_maxima)
                            }
                        </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>*@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MiradouroId">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.MiradouroId">Detalhes</a> @*|
                            <a asp-action="Delete" asp-route-id="@item.MiradouroId">Apagar</a>*@
                        </td>
                        <td>
                            @if (!item.Ativo)
                            {
                                <a asp-action="Delete" asp-route-id="@item.MiradouroId">Ativar</a>
                            }
                            else
                            {
                                <a asp-action="Delete" asp-route-id="@item.MiradouroId">Desativar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</section>