@model GuardaCultura.Models.Ocupacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ocupacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_pessoas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_pessoas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miradouro.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora.HoraId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OcupacaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
