@model GuardaCultura.Models.Duracao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Duracao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasFim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DuracaoId">Edit</a> |@*Botao Editar*@
    <a asp-action="Index">Back to List</a>
</div>
