@model IEnumerable<GuardaCultura.Models.Duracao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HorasInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasFim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorasInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasFim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DuracaoId">Edit</a> |@*Botao Editar*@
                <a asp-action="Details" asp-route-id="@item.DuracaoId">Details</a> |@*Botao Detalhes*@
                <a asp-action="Delete" asp-route-id="@item.DuracaoId">Delete</a>@*Botao Apagar*@
            </td>
        </tr>
}
    </tbody>
</table>
